.floating-label-container {
  position: relative;
  margin: 20px 0;
  width: 95%;
}

.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  background-color: #fdfdfd;
  transition: border 0.3s;
}

.input:focus {
  border-color: #0077cc;
}

.label {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #999;
  background-color: white;
  padding: 0 4px;
  transition: 0.3s ease;
  pointer-events: none;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: -10px;
  left: 12px;
  font-size: 12px;
  color: #0077cc;
}